.alimentation-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
  width: 175px;
  height: 100px;
}

.alimentation-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

p {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

h3 {
  font-weight: 500;
  font-size: 14px;
  color: #74798c;
  margin: 0;
}
