.bar-chart-container {
  width: 675px;
  height: 290px;
  padding: 5px;
  margin: 10px;
  background: #fbfbfb;
  border-radius: 8px;
}

h2 {
  font-size: 15px;
  font-weight: 500;
  color: #20253a;
  margin-bottom: 20px;
}

.bar-chart-legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 20px 20px;
}

.bar-chart-title {
  margin: 0;
  font-weight: bold;
  color: #20253a;
}

.bar-chart-dots {
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: #74798c;
}

.bar-chart-legend-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bar-chart-legend-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #282d30;
}

.bar-chart-legend-dot-red {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #e60000;
}

.bar-chart-tooltip {
  background: #e60000;
  color: #ffffff;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.bar-chart-tooltip p {
  font-size: 16px;
}
