.layout-header {
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  z-index: 1000;
}

.layout-logo {
  position: absolute;
  left: 2px;
  top: 10px;
  width: 200px;
  height: 50px;
  object-fit: contain;
}

.layout-nav {
  position: absolute;
  right: 20px;
  top: 22px;
  display: flex;
  gap: 20px;
  width: 80vw;
  justify-content: space-around;
}

.layout-nav h2 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.layout-nav-link {
  color: #ffffff;
  text-decoration: none;
}

.layout-sidebar {
  background-color: #000000;
  position: absolute;
  top: 718px;
  left: 0;
  transform: rotate(-90deg);
  transform-origin: top left;
  width: 100vh;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout-sidebar-icons {
  transform: rotate(90deg) translateY(35px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.layout-sidebar-icons img {
  width: 42px;
  height: 42px;
  display: block;
}

.layout-sidebar-copyright {
  color: #ffffff;
  font-size: 10px;
  position: absolute;
  left: 20px;
  margin-left: 15px;
}
