.pie-chart-container {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 8px;
  background-color: #fbfbfb;
  overflow: hidden;
  padding: 3px;
  margin: 0px 10px;
}

.pie-chart-container h2 {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 15px;
  font-weight: bold;
  color: #20253a;
  margin: 0;
}

.pie-chart-score {
  font-size: 18px;
  font-weight: 600;
  color: #282d30;
}

.pie-chart-objective {
  font-size: 14px;
  font-weight: 400;
  color: #74798c;
}
