* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dashboard {
  padding: 65px;
  position: relative;
  height: 100%;
}

.graphs-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.left-graphs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}

.bottom-graphs {
  display: flex;
  gap: 5px;
  flex-direction: row;
  margin: 0 0 0 10px;
}

.right-graph {
  display: flex;
  width: auto;
  flex-shrink: 0;
}
