.graphs-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.left-graphs {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 30px;
  margin-left: 20px;
}

.line-radar-pie-container {
  display: flex;
  gap: 15px;
  flex-direction: row;
  margin: 0 10px;
}

.alimentation-graph {
  display: flex;
  justify-content: flex-end;
}
